<%= form_for @answer, url: {action: "create"} do |f| %>
  <div class="entire_answer_page">

    <div class="questions_to_answer">
      <% @questions.each do |question| %>
        <div class="question_and_box">
          <p class="question_content">・<%= question.content %></p>
          <textarea class="answer_textarea" name = answer[<%= question.id %>] required></textarea>
          <input type="hidden" name = user_id value = <%= question.user_id %> >
        </div>
      <% end %>
    </div>

    <div class="button_to_answer">
      <%= f.submit " 回 答 " , { class: "answer_form_button" } %>
    </div>

  </div>
<% end %>
