<%= form_with model: @emails, url: emails_path, local: true do |form| %>
  <% @emails.collection.each do |email| %>
    <%= fields_for 'emails[]', email do |field| %>
      <p><%= field.label :email %></p>
      <p><%= field.text_field :email %></p>
      <%= field.hidden_field :user_id , :value => current_user.id %>
    <% end %>
  <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
